body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ddd;
}

button{

    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}